langchain
langchain-community
langchain-openai
openai
pypdf
faiss-cpu
streamlit
beautifulsoup4
PyPDF2
transformers
torch
torchvision
torchaudio
soundfile
ffmpeg-python
sox
ffmpeg
pdf2image
byaldi
qwen_vl_utils
matplotlib
pytorch-lightning
textblob
backoff
flask 
flask-cors
npm
# npm install axios lucide-react @radix-ui/react-alert tailwindcss @tailwindcss/forms
node